<div class="navbar navbar-fixed-top"> 
        <div class="navbar navbar-inner">
          <div class="span1"></div>
      <ul class="nav navbar-nav">
      <li><img src = "img/sigmoid-logo.png"/></li>
            <div class="span0.5"></div>
        <li>{{#link-to "zql"}}Query{{/link-to}}</li>
        <li> <a href = "http://localhost:8080/sharkui/#/job">Job Browser</a> </li>
      </ul>
    </div>
  
      <div class="row-fluid">
      <div class="span12"></div></div>
      

<div class="container bs-docs-container">
  <div id="alert"></div>
  <p />
  {{yield}}
</div>
